.App{
  background-color: #5DADE2;
  height:100vh;
}
.head{
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: rgb(7, 7, 7);
}
.todo{
  width: 700px;
  height: 500px;
  background-color: #ECF0F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  position: absolute;
  top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    gap:30px;
}
.add{
  width: 65%;
  padding-top: 30px;
}
.list{
  width: 65%;
  padding-top: 10px;
}

